<div class="row ml-4">
    <div class="col-xs-12">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Gajjar_ka_halwa_%28carrot_halwa%29.JPG" class="card-img-top" alt="..." height="450">
            <div class="card-body">
              <h5 class="card-title">Recipe Name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ingredients:</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
        </div>
    </div>
</div>
