<app-header></app-header>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-recipes-list></app-recipes-list>
        </div>
        <div class="col-md-8">
            <app-recipes-detail></app-recipes-detail>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-shopping-edit></app-shopping-edit>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-shooping-list></app-shooping-list>
        </div>
    </div>
</div>
